# ENV files
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
venv/
env/
.venv/
.env/

# IDE config
.vscode/
.idea/

# Databases locais
*.sqlite3
instance/

# Logs
*.log

# Build / dist
dist/
build/

# Sistema
.DS_Store
Thumbs.db
